extends layout

block content
  h1= title
  
  a(class='button' href='layout') Press me
  br
  - var btnType = 'primary'
  - var btnSize = 'lg'
  button(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) Button